<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
    <link rel="stylesheet" href="../public/main.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <%- include('nav.ejs') %>
    <!-- <% for (var i = 0; i < posts.length; i ++) {%>
    <h4><%= posts[i].title %></h4>
    <p><%= posts[i].date %></p>
    <% } %> -->
    <div class="container input-group mb-2">
      <input class="form-control" id="search-input" />
      <button class="input-group-append btn btn-danger" id="search">
        검색
      </button>
    </div>

    <ul class="list-group">
      <% for (var i = 0; i < posts.length; i++){ %>
      <li class="list-group-item">
        <h4>
          <a href="/detail/<%=posts[i]._id%>">할일 : <%= posts[i].title %></a>
        </h4>
        <p>
          <a href="/detail/<%=posts[i]._id%>">날짜 : <%= posts[i].date %></a>
        </p>
        <button class="edit" data-id="<%= posts[i]._id %>">수정</button>
        <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
      </li>
      <% } %>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $(".edit").click(function (e) {
        window.location.href = `/edit/${e.target.dataset.id}`;
      });
      $(".delete").click(function (e) {
        $.ajax({
          method: "DELETE",
          url: "/delete",
          data: { _id: e.target.dataset.id },
        })
          .done((result) => {
            $(this).parent("li").fadeOut();
          })
          .fail(function (a, b, c) {
            console.log(a, b, c);
          });
      });
      $("#search").click(function () {
        var input = $("#search-input").val();
        window.location.replace("/search?value=" + input);
      });
    </script>
  </body>
</html>
